h1{
    color: black;
	text-align: center-left;
	background: red;
	font-size: 5vw;
	margin: 25px;
}
p{
	color: black;
	background: lightgray;
	font-size: 2vw;
}
img{
	max-width: 100%;
	height: 60vw;
}
.sisalto{
	background: lightgray;
	overflow: auto;
	margin: 1em;
	text-align: center;
}
.vasen{
	float: left;
	width: 48%;
	margin: 1em;
}
.oikea{
	float: left;
	width: 48%;
	margin:1em;
}

@media only screen and (max-width: 865px) {
	.vassen, .oikea {
		width: 100%;
	}
}